<header>
    <div class="container">
        <div class="profile">
            <div class="social">
                <a href="https://www.linkedin.com/in/joonkichung">
                   <i class="fa fa-linkedin-square fa-lg"></i>
                </a>
                <a href="http://github.com/joonki34">
                    <i class="fa fa-github fa-lg"></i>
                </a>
            </div>
        </div>
        <h5 class="logo"><a href="{{ site.baseurl }}">Joonki Chung</a></h5>
        <nav class="main">
            <ul>
                {% if page.nav == "about" %}
                <li><a href="{{ site.baseurl }}/about" class="active">About</a></li>
                {% else %}
                <li><a href="{{ site.baseurl }}/about">About</a></li>
                {% endif %}
                {% if page.nav == "projects" %}
                <li><a href="{{ site.baseurl }}/projects" class="active">Projects</a></li>
                {% else %}
                <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
                {% endif %}
                {% if page.nav == "blog" %}
                    <li><a href="http://joonki.tistory.com" class="active">Blog</a></li>
                {% else %}
                    <li><a href="http://joonki.tistory.com">Blog</a></li>
                {% endif %}
            </ul>

        </nav>
        <div class="nav-slider">
            <div class="nav-selection {{ page.nav }}"></div>
        </div>
        <div class="subnav-slider">
            <div class="subnav-selection {{ page.subnav }}"></div>
        </div>
        <nav class="subnav">
            <ul>
                {% if page.subnav == "home" %}
                  <li><a href="/exemplar" class="active" data-subnav="home">Home</a></li>
                {% else %}
                    <li><a href="/exemplar" data-subnav="home">Home</a></li>
                {% endif %}
                {% if page.subnav == "exemplar-docs" %}
                    <li><a href="/exemplar/docs" class="active" data-subnav="exemplar-docs">Docs</a></li>
                {% else %}
                    <li><a href="/exemplar/docs" data-subnav="exemplar-docs">Docs</a></li>
                {% endif %}
                {% if page.subnav == "resume" %}
                    <li><a href="https://www.dropbox.com/s/w6kjmo7eqo3qekc/resume.pdf" class="active" data-subnav="resume">Resume</a></li>
                {% else %}
                    <li><a href="https://www.dropbox.com/s/w6kjmo7eqo3qekc/resume.pdf" data-subnav="resume">Resume</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
