<header>
    <div class="container">
        <div class="profile">
            <div class="social">
                <a href="https://www.linkedin.com/in/joonkichung" target="_blank">
                   <i class="fa fa-linkedin-square fa-lg"></i>
                </a>
                <a href="http://github.com/joonki34" target="_blank">
                    <i class="fa fa-github fa-lg"></i>
                </a>
            </div>
        </div>
        <h5 class="logo"><a href="{{ site.baseurl }}/">Joonki Chung</a></h5>
        <nav class="main">
            <ul>
                {% if page.nav == "about" %}
                <li><a href="{{ site.baseurl }}/" class="active">About</a></li>
                {% else %}
                <li><a href="{{ site.baseurl }}/">About</a></li>
                {% endif %}
                {% if page.nav == "history" %}
                    <li><a href="{{ site.baseurl }}/history" class="active">History</a></li>
                {% else %}
                    <li><a href="{{ site.baseurl }}/history">History</a></li>
                {% endif %}
                {% if page.nav == "projects" %}
                <li><a href="{{ site.baseurl }}/projects" class="active">Projects</a></li>
                {% else %}
                <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
                {% endif %}
            </ul>

        </nav>
        <div class="nav-slider">
            <div class="nav-selection {{ page.nav }}"></div>
        </div>
        <div class="subnav-slider">
            <div class="subnav-selection {{ page.subnav }}"></div>
        </div>
        <nav class="subnav">
            <ul>
                {% if page.subnav == "home" %}
                  <li><a href="{{ site.baseurl }}/" class="active" data-subnav="home">Home</a></li>
                {% else %}
                    <li><a href="{{ site.baseurl }}/" data-subnav="home">Home</a></li>
                {% endif %}
                {% if page.subnav == "blog" %}
                    <li><a href="http://joonki.tistory.com" target="_blank" class="active" data-subnav="blog">Blog</a></li>
                {% else %}
                    <li><a href="http://joonki.tistory.com" target="_blank" data-subnav="blog">Blog</a></li>
                {% endif %}
                {% if page.subnav == "resume" %}
                    <li><a href="https://www.dropbox.com/s/w6kjmo7eqo3qekc/resume.pdf" target="_blank" class="active" data-subnav="resume">Resume</a></li>
                {% else %}
                    <li><a href="https://www.dropbox.com/s/w6kjmo7eqo3qekc/resume.pdf" target="_blank" data-subnav="resume">Resume</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
