// This file contains shared base styles and will be loaded on all browsers and devices

@import 'bourbon/bourbon';
@import 'neat/neat';

$sansFamily: 'Source Sans Pro', 'Spoqa Han Sans', Helvetica, Arial, sans-serif;
$headingFamily: 'Bebas Neue', Helvetica, Arial, sans-serif;
$white: #FFFFFF;
$black: #111;
$darkGrey: #222;
$grey: #444;
$lightGrey: #ccc;
$blue: #6EC5FF;
$indigo: #5EA5FF;

body {
    font-family: $sansFamily;
    margin: 0;
    color: $grey;
    font-size: 1.2em;
    min-width: 257px;
}

a {
    color: $indigo;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    color: $darkGrey;
    font-family: $headingFamily;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 0.8em;
    margin: 0.4em 0;
    a {
        color: inherit;
    }
    a:hover {
        text-decoration: none;
    }
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 2em;
}

h1.hero {
    font-size: 4.5em;
    margin: 0.5em 0 0.1em;
}

p {
    line-height: 1.5em;
    margin: 1em 0;
}

.wrapper {
    padding: 20px;
}

.container {
    @include outer-container;
    max-width: 780px;
    position: relative;
}

header a {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

header nav ul {
    font-size: 16px;
    @include clearfix;
    list-style: none;
    padding: 0 0 0 2px;
    margin: 0 0 10px;
}

header .logo {
    font-style: italic;
}

header nav li {
    float: left;
    a {
      padding-right: 20px;
    }
}

header nav.subnav {
  z-index: 2;
  margin: 10px 0 -40px;
  position: absolute;
  right: 0;
}

header .subnav a {
  padding-right: 0;
  padding-left: 20px;
}

header .nav-slider {
  height: 10px;
  background-color: $black;
  position: relative;
}

header .nav-selection {
    position: absolute;
    height: 10px;
    background-color: $blue;
}

header .nav-selection.about {
    width: 44px;
    left: 0;
}

header .nav-selection.history {
    width: 50px;
    left: 61px;
}

header .nav-selection.projects {
    width: 57px;
    left: 129px;
}

header .subnav-selection {
  position: absolute;
  height: 10px;
  background-color: $black;
  width: 50px;
}

header .subnav-selection.home {
  right: 188px;
  width: 42px;
}

header .subnav-selection.blog {
  right: 136px;
  width: 35px;
}

header .subnav-selection.resume {
  right: 64px;
  width: 55px;
}

header .subnav-selection.korean {
  right: 0;
  width: 45px;
}

header .profile {
    float: right;
    max-width: 84px;
    margin-top: 50px;
}

header .social {
    float: left;
}

header .social img {
    display: block;
    margin: 9px 0;
}

footer {
    margin-top: 30px;
}

footer ul {
    padding: 0;
}

footer nav {
    border-width: 10px 0 0;
    border-style: solid;
    border-color: $black;
    padding-top: 20px;
}

footer nav ul li {
    @include span-columns(3);
    @include media(max-width 40em) {
        @include span-columns(12);
        margin-bottom: 10px;
        &:nth-child(2n) {
          @include omega;
        }
    }
}

#main {
    padding-top: 30px;
}

ul, ol {
    line-height: 1.5em;
    padding-left: 20px;
    font-size: 1em;
}

ul {
    list-style: square;
}

.post {
    border-top: 1px solid $darkGrey;
    margin-bottom: 5em;
}

.post:first-child, .post.no-border {
    border-top: none;
}

.post-header .date {
    font-family: $sansFamily;
    text-decoration: lowercase;
    margin: 1em 0 -1.2em;
}

// History
.work ul, .education ul{
    list-style: none;
    padding-left: 0;
}

.work ul li{
    padding-bottom: 20px;
}

.work ul ul, .education ul ul{
    list-style: square;
    padding-left: 20px;
}

.work ul ul li{
    padding-bottom: 0;
}

.work ul p, .education ul p{
    margin: 0px;
}

.work ul p:first-child, .education ul p:first-child{
    font-size: 1.2em;
}

.work ul p span.date {
    color: #969696;
}

.see-more {
    float: right;
}

// Projects

#projects {
}

#projects .help p{
    font-size: 0.8em;
}

.project {
    
}

.project .meta {
}

.project .meta .date {
    font-weight: bold;
}

.project .meta .toolstack {
    
}

.project .extra li {
    list-style: disc;
}

.pagination {
    margin-top: 30px;
}

.button, .key-selector a {
    background: $darkGrey;
    color: $white;
    padding: 0.4em 0;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-family: $headingFamily;
    font-size: 1.2em;
}

.key-selector a {
    float: left;
    padding: 0.5em 0.4em 0.4em;
    margin-right: 0.4em;
    font-family: $sansFamily;
    font-size: 0.9em;
}

.key-selector a.active {
    background-color: $blue;
}

.button:hover, .button:active {
    box-shadow: 0 0 1px 2px rgba(0,0,0,1) inset;
}

.pagination .button span {
    position: relative;
}

.pagination a.previous span:before {
    content: "←";
    position: absolute;
    left: -30px;
}

.pagination a.next span:after {
    content: "→";
    position: absolute;
    left: 50px;
}

pre {
    font-family: 'Source Code Pro', monospace;
}

.chords {
    color: $white;
}

.chords strong {
    color: $blue;
}
