<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>{{ page.title }} | Joonki Chung</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/korean/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/korean/plugins/font-awesome/css/font-awesome.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{{ site.baseurl }}/assets/korean/css/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <!-- <img class="profile" src="{{ site.baseurl }}/assets/korean/images/profile.jpg" alt="" /> -->
                <h1 class="name">정준기</h1>
                <h3 class="tagline">소프트웨어 엔지니어</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: yourname@email.com">joonki34@gmail.com</a></li>
                    <!--<li class="phone"><i class="fa fa-phone"></i><a href="tel:0123 456 789">010 2171 4556</a></li>-->
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/joonkichung" target="_blank">linkedin.com</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/joonki34" target="_blank">github.com/joonki34</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">BSc in Computer Science</h4>
                    <h5 class="meta">University of Utah</h5>
                    <div class="time">2010 - 2013</div>
                </div><!--//item-->
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>한국어 <span class="lang-desc">(Native)</span></li>
                    <li>영어 <span class="lang-desc">(Professional)</span></li>
                </ul>
            </div><!--//interests-->
            
             <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>프론트앤드 개발</li>
                    <li>백앤드 개발</li>
                    <li>자연어 처리</li>
                </ul>
            </div><!--//interests-->

            <div class="misc-container container-block">
                <h2 class="container-block-title">Miscellaneous</h2>
                <ul class="list-unstyled interests-list">
                    <li>병역필</li>
                </ul>
            </div>
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Summary</h2>
                <div class="summary">
                    <p>저는 항상 새로운 것을 배우길 좋아해왔습니다. 그래서 1년에 최소 한가지 언어는 학습하고 다양한 프레임워크와 기술들을 사용해보려고 노력합니다. 현재도 꾸준히 개발 관련 글들을 읽고 컨퍼런스에 참석하고 있습니다.</p>
                    <p>또한, 개발 생산성을 높이는 작업을 좋아합니다. 예를 들어, Webpack 빌드 성능을 향상하려는 시도 끝에 2배 가량의 속도 개선을 이루어낸 경험이 있고 Docker를 이용해 배포 프로세스를 간단하게 하는 작업을 진행 중입니다.</p>
                    <p>자바를 오랜 기간 사용해왔고 최근에는 프론트앤드 개발을 중점적으로 하고 있어 주로 자바스크립트로 개발하고 있습니다. 파이썬을 좋아하여 사이드 프로젝트나 실무에서 사용해왔습니다.</p>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">개발자</h3>
                            <div class="time">2014 - 현재</div>
                        </div><!--//upper-row-->
                        <div class="company">이스트소프트, 서울</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>현재, React/Redux를 이용한 SPA인 팀업 클라우드를 담당하고 있습니다. 백앤드로는 스프링 프레임워크를 사용하고 있습니다.</p>
                        <p>팀업 클라우드 외에 기타 팀업 관련 웹서비스들을 유지보수하고 있습니다. 공통적으로 Spring Boot, MariaDB, Redis, Hibernate, nginx 등을 사용합니다. 자세한 기술 스택은 <a href="http://stackshare.io/estsoft/teamup">링크</a>를 참고해주세요</p>
                        <p>이전에는 스킨닥, 알송 Kpop 에디션 등의 안드로이드 어플리케이션을 개발했습니다. 그 외에 기타 레거시 스프링 프로젝트들과 PHP 웹사이트들을 유지보수 및 신규 개발했습니다.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">인턴 iOS 개발자</h3>
                            <div class="time">2013 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Urbane, 샌프란시스코</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>페이스북 SDK와 Map Kit을 이용해 Urbane의 iOS 버전 앱 개발을 담당했습니다.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">인턴 웹 개발자</h3>
                            <div class="time">2012 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Firetoss, 솔트레이크 시티</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>PHP, 워드프레스, MySQL을 이용한 웹사이트들을 개발/관리하는 업무를 담당하였습니다.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>학업, 업무 상에 맡았던 프로젝트 중 강조하고 싶은 것들을 나열했습니다. 오픈소스 프로젝트는 우측 Github 링크 확인해주세요.</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a href="https://cloud.tmup.com" target="_blank">팀업 클라우드</a></span> - <span class="project-tagline">기업용 SNS인 팀업의 클라우드 스토리지 웹 어플리케이션. React/Redux, Spring Boot 사용.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">알송 Kpop 에디션</span> - 
                    <span class="project-tagline">인도네시아어, 영어 가사를 지원하는 알송 앱의 글로벌 버전. 안드로이드 앱.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">우편번호 API</span> - <span class="project-tagline">회사 내부에서 쓰는 우편번호 API. 새로운 5자리 우편번호에 맞게 개편하는 작업 담당. PHP, MongoDB 사용.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">Image Search Plus</span> - <span class="project-tagline">사용자가 직접 그린 그림과 비슷한 이미지를 웹상에서 찾아서 보여주는 웹 어플리케이션. C#, ASP.NET, MS SQL 사용.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title">Grok It</span> - <span class="project-tagline">상품 리뷰를 감정 분석하여 최고의 상품을 찾아주는 시스템. Python, MongoDB, NLTK 사용.</span>
                </div><!--//item-->
            </section><!--//section-->
            
            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Javascript &amp; React/Redux</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Java &amp; Spring</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">MySQL</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="98%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="95%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Docker</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">MongoDB</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">AWS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="40%">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="{{ site.baseurl }}/assets/korean/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/korean/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <!-- custom js -->
    <script type="text/javascript" src="{{ site.baseurl }}/assets/korean/js/main.js"></script>            
</body>
{% include ga.html %}
</html> 

